<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <table border="1" cellpadding="10" cellspacing="0" align="center">
        <tr>
            <td>Brand</td>
            <td>
                <select name="" id="">
                    <option value="">Select Brand</option>
                    {% for brand in brands %}
                    <option value="{{ brand.id }}">{{ brand.brand_name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select name="" id="">
                    <option value="">Select Category</option>
                    {% for brand in brands %}
                    <option value="{{ brand.id }}">{{ brand.brand_name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Subcategory</td>
            <td>
                <select name="" id="">
                    <option value="">Select Subcategory</option>
                    {% for brand in brands %}
                    <option value="{{ brand.id }}">{{ brand.brand_name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Search</td>
            <td>
                <input type="text" name="txt_search" id="">
            </td>
        </tr>
    </table>
    <br>
    <table border="1" cellpadding="10" cellspacing="0" align="center">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Stock</th>
                <th>GST</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_name }}</td>
                <td>{{ product.subcategory.category.category_name }}</td>
                <td>{{ product.subcategory.subcategory_name }}</td>
                <td>{{ product.brand.brand_name }}</td>
                <td>{{ product.product_price }}</td>
                <td>{{ product.product_stock }}</td>
                <td>{{ product.product_gst }}</td>
                <td>
                    <!-- Add your edit and delete links here -->
                    <a href="{% url 'adminpanel:editproduct' product.id %}">Edit</a>
                    <br>
                    <a href="{% url 'adminpanel:deleteproduct' product.id %}">Delete</a>
                    <br>
                    <a href="{% url 'adminpanel:listimage' product.id %}">Gallery</a>
                    <br>
                    <a href="{% url 'adminpanel:listvariant' product.id %}">Varients</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="8" align="center"><a href="{% url 'adminpanel:addproduct' %}">Add Product</a></td>
            </tr>
        </tbody>
</body>
</html>

{% if msg %}
<script>
    alert("{{ msg }}");
    window.location="{% url 'adminpanel:listproduct' %}";
</script>
{% endif %}